*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
div{
    display: grid;
    grid-template-columns: 2fr 3fr;
    flex-flow: row wrap;
    border-bottom: 1px solid black;
    max-width: 400px;
}
div:last-child{
    border: none;
}
div > *{ 
    flex-basis: 50%;
    padding: 1rem;
}
dt{
    font-weight: bold;
    grid-column-start: 1;
    /* border: 1px dotted blue; */
}

dd{
    /* Trouble */
    margin: 0;
    grid-column-start: 2;
    /* border:1px solid red; */
}
dd:first-of-type{
    grid-row-start:1;

}
div:nth-child(even){
    background-color: #efefef;
}